# --extra-index-url https://download.pytorch.org/whl/cpu


# python -m pip install --force-reinstall \
#   torch==2.14.0 \
#   --index-url https://download.pytorch.org/whl/cu126

requests
torch>=2.0.0
torchao
transformers
datasets
matplotlib
tqdm
ipykernel